<a href="https://colab.research.google.com/github/Shahar19/Python/blob/master/Bagrut_grades_in_Israeli_high_schools_Shahar_Bercovitz%2C_October_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas project - Shahar Bercovitz, Oct 2019**
*Bagrut grades in Israeli high schools (2013-2016)*

# **Import Packages**

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sys import modules
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# **Data Description**

 **Data Overview**

Source: Kaggle

dataset link: https://www.kaggle.com/emachlev/bagrut-israel

by: Eran Machlev

**Info**

Te'udat Bagrut (Hebrew: תעודת בגרות‬) is a certificate which attests that a student has successfully passed Israel's high school matriculation examination. Bagrut is a prerequisite for higher education in Israel. A Bagrut certificate is awarded to students who pass the required written (and in some cases oral) subject-matter examinations with a passing mark (56% or higher) in each exam. The Bagrut certificate however should not be confused with a high school diploma (te'udat g'mar tichon, Hebrew: תעודת גמר תיכון‬), which is a certificate awarded by the Ministry of Education attesting that a student has completed 12 years of study. (Source: Wikipedia)

**Content**

This file contains over 60,000 average Bagrut grades that were taken between 2013 and 2016 by over 1800 schools in various subjects.

The data was posted under the Israeli Freedom of Information law and was formatted by Eran Machlev

The Citry Mapping was posted under data.gov.il/dataset/citiesandsettelments and was formatted by Shahar Bercovitz

**Columns description**

<div class="DataExplorerColumns_Content-sc-nd4frg jtcGRH">
<div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="hashtag" data-tip="true" data-for="tooltip_218" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-hashtag" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_218" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">Decimal</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">grade</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="hashtag" data-tip="true" data-for="tooltip_219" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-hashtag" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_219" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">Integer</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">takers</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="hashtag" data-tip="true" data-for="tooltip_220" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-hashtag" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_220" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">Integer</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">studyunits</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="hashtag" data-tip="true" data-for="tooltip_221" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-hashtag" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_221" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">Integer</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">year</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="font" data-tip="true" data-for="tooltip_222" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-font" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_222" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">String</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">subject</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="font" data-tip="true" data-for="tooltip_223" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-font" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_223" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">String</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">city</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="font" data-tip="true" data-for="tooltip_224" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-font" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_224" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">String</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">school</span></div></div><div class="DataExplorerColumns_Column-sc-3o3eue dzfjqf"><div class="DataExplorerColumns_ColumnType-sc-1ro23id bXvfMT"><div class="ToolTip_ToolTipContainer-sc-f0vhmk eHUYTV"><span name="hashtag" data-tip="true" data-for="tooltip_225" class="DataExplorerColumns_ColumnTypeIcon-sc-17opb71 bLaitT fa fa-hashtag" currentitem="false"></span><div class="__react_component_tooltip place-top type-dark " id="tooltip_225" data-id="tooltip"><div class="ToolTip_ToolTipView-sc-1ci7zcv iiWQyY">Integer</div></div></div></div><div class="DataExplorerColumns_ColumnMain-sc-sx1t3y kHFuWO"><span class="DataExplorerColumns_ColumnName-sc-1tzfrn7 fqEMUL">semel</span></div></div></div>

# **Get the dataset**

## **Upload data files**
1. **Upload dataset CSV format file**

2. **Upload israeli cities mapping .xlsx format file**

In [0]:
def user_upload_multiple_files():
    number_of_files = int(input("please enter number of files to upload\n"))

    for file in range(0,number_of_files):
        if 'google.colab' in modules:
            from google.colab import files
            uploaded = files.upload()
user_upload_multiple_files()

# **Data Manipulation and EDA**

## **Data Madipulation**

### **Read Data file**

In [0]:
df = pd.read_csv(r'/content/israel_bagrut_averages.csv', encoding="UTF-8")

### **Data Head**

In [0]:
df.head()

### **Data Tail**

In [0]:
df.tail()

### **Dataset info**

In [0]:
df.info()

### **Describe dataset**

In [0]:
df.describe().T

### **Target variable histogram**

In [0]:
df.grade.hist(bins=20)

### **Pairplot**

In [0]:
numeric_fields = ["grade", "takers", "studyunits", "year"]
sns.pairplot(df[numeric_fields])

### **Check Nulls**

In [0]:
df.isnull().sum(axis = 0)

**Pre-processing insights:**
An avg. grade was calculated only for observations with **more** than 10 takers.


*We decided to omit observations with less than 11 takers - as there is no available avg grade.

**We could fill-in these records with an avg. grade, but we decided that it's better to omit these records so there wouldn't be any biases of data.

### **Handle Nulls**

In [0]:
df = df[~((df.grade.isnull()) & (df.takers<=10))]
df.isnull().sum(axis = 0)

### **Handle text data points**

Trim hebrew strings features

In [0]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

### **Read city & trim mapping file**

In [0]:
cities_mapping = pd.read_excel(r'/content/cities_mapping_v3.xlsx')
cities_mapping = cities_mapping.applymap(lambda x: x.strip() if isinstance(x, str) else x)
cities_mapping.info()

### **pre-process cities-region mapping**

In [0]:
cities_mapping.drop_duplicates(subset="שם_ישוב", inplace=True)
cities_mapping = cities_mapping[["שם_ישוב", "שם_ישוב_לועזי", "שם_נפה", "מחוז",\
                                 "אוכלוסייה  סך הכל"]]
cities_mapping.rename(columns={"שם_ישוב":"city", "שם_ישוב_לועזי":"city_en",\
                               "אוכלוסייה  סך הכל":"t.population",\
                               "שם_נפה":"sub_region", "מחוז":"Region"},\
                       inplace=True)
cities_mapping.info()

### **join region category**

In [0]:
if "Region" not in df.columns.values:
    df.loc[df.city=="מרכז אזורי שוהם","city"]="שוהם"
    df = pd.merge(df, cities_mapping, how='left', on='city')
    df.isnull().sum(axis = 0)
else:
    print("city_region mapping was already applied")

### **Manually fill empty region observation (by research, from google)**

In [0]:
df.loc[df.city=="מולדה","Region"]="דרום"
df.loc[df.city=="בתי ספר של מרחבים","Region"]="דרום"
df.loc[df.city=="נוה","Region"]="דרום"
df.loc[df.city=="אפרתה","Region"]="שומרון"

df.isnull().sum(axis = 0)

### **hebrew strings alignment right to left (from default left to right)**

In [0]:
hebrew_alignment_right_to_left_columns = ['Region', 'city']
for column in hebrew_alignment_right_to_left_columns:
    df[column] = df[column].apply(lambda x: x[::-1])

## **EDA - Exploratory Data Analysis**

### **# of Bagrut takers by year**

In [0]:
dimensions = ['year']
measures={'takers':sum}


df.groupby(by = dimensions).agg(measures).plot(lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)
plt.xticks(np.arange(2013,2017,1))
plt.ylim(400000,1000000)

**Graph insights**

We can see that there's an overall increase in total bagrut exams takers from 2013 to 2016, with a significant increase between 2014 and 2015.

### **# of Bagrut takers by year and study units**

In [0]:
dimensions = ['year', 'studyunits']
measures={'takers':sum}


df.groupby(by = dimensions).agg(measures).unstack().plot(lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)
plt.xticks(np.arange(2013,2017,1))
plt.ylim(0,400000)

**Graph insights**


The total number of bagrut exams takers among 3 and 4 study units over the years remained almost unchanged, compared to 2 and 5 study units, where the total number of bagrut exam takers were increased by \~37.5K (\~12%) takers and \~25k (\~14.5%)  takers respectively in only 4 years.

### **Grades by year and study units**

In [0]:
sns.set(rc={'figure.figsize':(16,12)})
sns.boxplot(x="year", y="grade", hue='studyunits', data=df, linewidth=1)

**Graph insights**

There is a constant increase in the upper quartile grades among 3 study units takers over the years.

### **Top N cities with most bagrut takers**

In [0]:
n = 20

df['t.population'] = df['t.population'].fillna(0.0).astype('int64')
dimensions = ['city', 't.population']
measures={'takers':sum}
df.groupby(by = dimensions).agg(measures).sort_values("takers",ascending=False)[n::-1].plot(kind='barh',lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)

**Graph insights**

As expected, the cities with most Bagrut takers are coming from the greater cities, i.e Jerusalem, Tel Aviv, Haifa.

### **Check correlation between city population size and the \# of bagrut exam takers**

In [0]:
df['t.population'] = df['t.population'].fillna(0.0).astype('int64')
dimensions = ['city', 't.population']
measures={'takers':sum}
df2 = pd.DataFrame(df.groupby(by = dimensions).agg(measures).sort_values("takers",ascending=False))
df2 = df2.reset_index()
sns.scatterplot(x=df2['takers'], y=df2['t.population'], alpha=0.5)

**Graph insights**

There is a correlation (linear) between total # of exam takers in a certain city and its total number of population.

### **Top N cities with highest bagrut avg grade**

In [0]:
n = 15
dimensions = ['city']
measures={'grade':np.mean}

top_n_avg_cities = df.groupby(by = dimensions).agg(measures).sort_values("grade",ascending=False)[n:0:-1].sort_values("grade",ascending=False)
sns.barplot(x=top_n_avg_cities.index, y=top_n_avg_cities['grade'],palette="BuGn_r")
plt.ylim(80,90)
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)

**Graph insights**

However, none of the above mentioned big cities with the most bagrut takers are in the top avg scores cities. most of these are small cities/residence with less than 13k residences, except for "Givat Shmuel" (~25K) and "Ramat Hasharon" (~46K).

### **Region breakdown - Top N cities with most bagrut takers**

In [0]:
dimensions = ['Region', 'city']
measures={'takers':sum}

top_20_cities = df.groupby(by = dimensions).agg(measures).sort_values("takers",ascending=False)[20:0:-1]
top_20_cities_by_region = top_20_cities.groupby(by = 'Region').count()
top_20_cities_by_region.sort_values("takers",ascending=True).plot(kind='barh',lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)

**Graph insights**

65% of the cities with the most bagrut takers are from the "Center" and "Tel Aviv-Yafo" region.

### **Region breakdown - Top N cities with highest bagrut avg grade**

In [0]:
dimensions = ['Region', 'city']
measures={'grade':np.mean}

top_20_cities = df.groupby(by = dimensions).agg(measures).sort_values("grade",ascending=False)[20:0:-1]
top_20_cities_by_region = top_20_cities.groupby(by = 'Region').count()
top_20_cities_by_region.sort_values("grade",ascending=True).plot(kind='barh',lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)

**Graph insights**

However, in terms of regions with top bagrut avg grades, "Tel Aviv Yafo" is in last place, and "North" region 2nd, after "Center" region.

### **passed bagrut on avg analysis**

In [0]:
df['passed?'] = np.where(df.grade<=55,"No","Yes")

### **Subject Analysis**

#### ***N most difficult subject (subject with lowest success rate)***

In [0]:
n = 5

df['passed?'] = np.where(df.grade<=55,"No","Yes")
counts = df.groupby(['subject','passed?'])['takers'].count().rename("success rate")
subject_passed_vs_failed_df = pd.DataFrame(counts / counts.groupby(level=0).sum())
subject_passed_vs_failed_df = subject_passed_vs_failed_df.reset_index()
top_n_difficult_subject_df = subject_passed_vs_failed_df[subject_passed_vs_failed_df['passed?']=='Yes'].sort_values("success rate",ascending=True)[0:n:1]
top_n_difficult_subject_df = top_n_difficult_subject_df[["subject","success rate"]]
top_n_difficult_subject_df["success rate"] = top_n_difficult_subject_df["success rate"].apply (lambda percent: f"{round(percent*100,2)}%")
top_n_difficult_subject_df

**insights**

4 out of 5 most difficult subject (subject with lowest success rate) are Arab related subject, i.e Hebrew/Arab to Druzim/Arabs.

*success rate = # of passed courses of this subject / Total # of courses of this subject.
**passed course -> Grade>=56.

#### **Specific subject Stats**

In [0]:
subject_to_analyze = "מתמטיקה"
df_input_subject = df[df['subject']==subject_to_analyze].groupby(['school','city','studyunits']).agg({'grade':'mean','takers':'sum'}).reset_index()
print(f"""Subject: {subject_to_analyze}
Total # of unique schools: {len(df_input_subject)}
avg grade: {round(df_input_subject['grade'].mean(),2)}
Total # of takers: {df_input_subject['takers'].sum()}""")

#### **Specific subject: takers vs. grades by study units**

In [0]:
df_input_subject = df[df['subject']==subject_to_analyze].groupby(['school','city','studyunits']).agg({'grade':'mean','takers':'sum'}).reset_index()
sns.scatterplot(x=df_input_subject['takers'], y=df_input_subject['grade'], hue=df_input_subject['studyunits'], alpha=0.5)

### **Language Analysis**

In [0]:
df['Language?'] = np.where(((df.subject.str.endswith('ית'))&\
                            (~df.subject.str.contains(" "))),"Yes","No")
df_language = df[df["Language?"]=="Yes"]

dimensions = ['studyunits','Language?']
measures={'grade':np.mean}


df.groupby(by = dimensions).agg(measures).unstack().plot(lw=5, figsize=(15, 7))
plt.ylabel('Total', rotation=0)
plt.grid(visible=True)
plt.xticks(np.arange(1,7,1))
plt.ylim(60,100)

**Graph insights**

Overall, higher study units subjects gets higher grades on avg (increases lineary).

Moreover, "Language" courses ("Arab","French", etc), gets higher avg grades than all other courses, on stugy units 4,5.
We see an increase of 2.5 and 5 points on average, respectively.

# **Insights and conclusion**

##1. **Pre-processing conclusion**
> Initially, there were ~70K observations.
An avg. grade was calculated only for observations with **more** than 10 takers.


> We decided to omit observations with less than 11 takers - as there is no available avg grade, resulting-in ~55k valid observations.

> *We could fill-in these records with an avg. grade, but we decided that it's better to omit these records so there wouldn't be any biases of data.

##2.**Data Analysis**

> ### **Time Series Analysis**

> 2.1) We can see that there's an overall increase in total bagrut exam takers from 2013 to 2016, with a significant increase between 2014 and 2015.

> 2.2) The total number of bagrut exams takers among 3 and 4 study units over the years remained almost unchanged, compared to 2 and 5 study units, where the total number of bagrut exam takers were increased by \~37.5K (\~12%) takers and \~25k (~14.5%) takers respectively in only 4 years.

> ### **Location Analysis**

> 2.3) As expected, the cities with most Bagrut takers are coming from the greater cities, i.e Jerusalem, Tel Aviv, Haifa.

> 2.4) However, none of the above mentioned big cities with the most bagrut takers are in the top avg scores cities. most of these are small cities/residence with less than 13k residences, except for "Givat Shmuel" (\~25K) and "Ramat Hasharon" (\~46K).

> 2.5) \~65% of the cities with the most bagrut takers are from the "Center" and "Tel Aviv-Yafo" region.

>2.6) In terms of regions with top bagrut avg grades, "Tel Aviv Yafo" is in last place, and the "North" region is 2nd, after the "Center" region.

> ### **Subject Analysis**

> #### **Subject Success Rate**

> 2.7) 4 out of 5 most difficult subject (subject with lowest success rate) are Arab related subject, i.e Hebrew/Arab to Druzim/Arabs.

> *success rate = # of passed courses of this subject / Total # of courses of this subject.

> **passed course -> Grade>=56.

> #### **Languages**

> 2.8) Overall, higher study units subjects gets higher grades on avg (increases lineary).

> 2.9) "Language" courses ("Arab","French", etc), gets higher avg grades than all other courses, on stugy units 4,5 (in oppose to 3 study units).

> We can see an increase of 2.5 and 5 points on average, respectively.